{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
</head>
<body>
<div class="container">
    <p class="text-center mt-5">请输入新密码两次，以便我们验证您键入的密码是否正确。</p>
    <div class="col-md-4 col-sm-6 border offset-md-4 offset-sm-6 p-5 mt-5 bg-light">
        {% if validlink %}
            <form method="post">{% csrf_token %}
                <fieldset>
                    <input class="visually-hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="mb-3">
                        {{ form.new_password1.errors }}
                        <label class="form-label" for="id_new_password1">新密码：</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password2.errors }}
                        <label class="form-label" for="id_new_password2">确认密码：</label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="d-grid">
                        <input class="btn btn-primary mt-3" type="submit" value="重置密码">
                    </div>
                </fieldset>
            </form>

        {% else %}

            <p>密码重置链接无效，可能是因为它已被使用。请重新设置密码。</p>

        {% endif %}
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#id_new_password1').addClass('form-control');
    $('#id_new_password2').addClass('form-control');
</script>
</body>
</html>