{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <div class="container m-5">
        <p>忘记密码？在下面输入你的电子邮箱地址，我们将会把设置新密码的操作步骤说明通过电子邮件发送给你。</p>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <div class="pb-3 mb-3 border-bottom">
                    {{ form.email.errors }}
                    <label for="id_email">电子邮件地址：</label>
                    {{ form.email }}
                </div>
                <input class="btn btn-primary" type="submit" value="重设我的密码">
            </fieldset>
        </form>
    </div>
</body>
</html>